/* Use this file to add Custom CSS to PowerSchool */
/*
     FILE ARCHIVED ON 13:37:45 Jul 28, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:00:53 Aug 09, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 33.962 (3)
  esindex: 0.013
  captures_list: 80.621
  CDXLines.iter: 14.503 (3)
  PetaboxLoader3.datanode: 79.987 (5)
  exclusion.robots: 0.3
  exclusion.robots.policy: 0.28
  RedisCDXSource: 26.506
  PetaboxLoader3.resolve: 301.838 (2)
  load_resource: 358.83
*/
